body{

    background-color: #fffbf7;

}

h1{

color: #4ea5ac;
text-align: center;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;

}

button{

    color: #000;
    background-color: #025157;

}